@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar .logo img {
    height: 20px;
}

.navbar .nav-icons img {
    height: 20px;
    margin-left: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    background-color: white;
    top: 0%;
    width: 100%;
    /* padding-bottom:10px ; */
    z-index: 100;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    margin-left: 40px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    /* list-style: none; */

}

#nav-list {
    white-space: nowrap;
    /* Prevents breaking into multiple lines */
    overflow: hidden;
    /* Hides any overflow */
}

.offers {
    padding-top: 10px;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 46.4px;
    padding-bottom: 10px;
}

.offers a {
    color: blue;
    text-decoration: none;
}

.back-video video {
    width: 100%;

}

.services img {
    height: 30px;
    border-radius: 50%;
    width: 30px;
}

.services a {
    color: blue;
    text-decoration: none;
}

.section {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    /* margin-top: 30PX; */
    background-color: rgba(2, 2, 2, 0.066);
    gap: 20px;

}

.title h1 {
    font-size: 40px;
}

.products {
    display: flex;
    justify-content: space-evenly;
    padding-block: 30px;
    align-items: center;
    background-color: rgba(2, 2, 2, 0.025);


    flex-wrap: wrap;
    gap: 16px;
}

.product img {
    height: 90px;
}

.product {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*link or img ko colum ke liye */
    padding-bottom: 30px;
}

.product a {
    text-decoration: none;
    color: black;
    margin-top: 20px;

}

.card img {
    height: 220px;
    max-width: 500px;
}

.card-container {
    margin: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.card {
    margin-top: 30px;
    min-height: 470px;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    padding-bottom: 30px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.7s;
}

.card h1 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.card p {
    margin-bottom: 20px;

}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

.card:hover .photo {
    transform: scale(1.2);
    cursor: pointer;
}


.photo {
    transition: 0.7s;
}

.event-pictures img {
    height: 400px;

}

.event-pictures {
    display: flex;
    justify-content: space-evenly;

}

.event1 {
    transition: 0.7s;
}

.event1:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.event2 {
    transition: 0.7s;
}

.event2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.apple-event {
    background-color: black;
    color: white;
    margin-top: 100px;
    padding: 40px;
}

.apple-event h1 {
    text-align: center;
    margin-bottom: 30px;
}

.section-3 img {
    height: 700px;
}

.section-3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.section-3 h1 {
    font-size: 40px;
    padding: 20px;
}

.img1 {
    transition: 0.7s;
}

.img1:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.h1 {
    color: rgba(0, 0, 0, 0.623);
}


.mainu-item {
    margin-top: 30px;
    background-color: rgba(2, 2, 2, 0.066);
    padding: 20px;
}

.store {
    display: flex;
    /* margin-left: 5rem; */
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.store img {
    height: 22px;
}

.mainu-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}

.mainu-list ul {
    list-style: none;
}

.mainu-list ul li a {
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.mainu-list li {
    font-size: 14px;
    color: rgb(56 56 56);
    cursor: pointer;
    transition: all 0.3s;
    padding-block: 4px;
}

.mainu-list li :hover {
    color: black;
    text-decoration: underline;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 14px;
}

.footer-copyright p:last-child {
    cursor: pointer;
    color: rgb(56 56 56);

}

.footer-copyright {
    padding: 20px;
}

.mainuopen {
    display: none;
}



/* icon center keliye */
.nav-icons {
    display: flex;
}

/* cards responsive me apne aap niche jayega jgh nhi hogi to flex wrap :wrap property se */
.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 35px;
}

@media (max-width: 1120px) {
    .navbar ul li {
        margin-left: 30px;
        font-size: 12px;
    }

}

@media (max-width: 992px) {
    .navbar {
        justify-content: space-between;
    }

    #nav-list {
        display: none;
    }

    .mainuopen {
        display: block;
    }

    .footer-copyright {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .title h1 {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    .section {
        flex-direction: column;
    }

    .event-pictures {
        flex-direction: column;
    }

    .event-pictures .event1,
    .event2 {
        margin: auto;
        max-width: 500px;
        /* to center img */
    }

    .mainu-list {
        justify-content: space-between;
    }

    .card img {
        width: 100%;
    }

    .event-pictures img {

        width: 300px;
    }

    .section-3 img {
        height: 400px;
    }

    .card:hover .photo {
        transform: scale(1);

    }

}

.mobile-nav {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    right: -100%;

    height: 100vh;
    background: white;
    transition: right 0.4s ease-in-out;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
}

.mobile-nav.active {
    right: 0;
}

/* Show Menu when .menuOpen is added */
.mobile-nav.menuOpen {
    display: block;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 16px;
}

/* Navigation List */
.nav-list-phone {
    list-style: none;
    padding: 16px 48px;
    margin-top: 40px;

}

.nav-list-phone li {
    font-size: 27px;
    /* font-weight: bold; */
    cursor: pointer;
    font-weight: 500;
    padding: 4px;

}

.nav-list-phone a {
    list-style: none;
    text-decoration: none;
    color: rgb(56 56 56);
    cursor: pointer;
    transition: all 0.3s;
}

.nav-list-phone a:hover {
    color: black;
    text-decoration: underline;
}